---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Eddy Chen | What's in a name?">
  <h1>What's in a name?</h1>
  <p>
    Eddy is my name. There are many names<sup class="text-half"
      >[<a href="https://en.wikipedia.org/wiki/WP:CITE">citation needed</a>]</sup
    >, including some like it, <a href="https://en.wikipedia.org/wiki/Rifleman's_Creed#Current_text"
      >but this one is mine.</a
    >
  </p>
  <p>
    I recognize that it is not the most common spelling of a name that is commonly used as a
    nickname for my legal first name. For that reason, I'm not picky about how it is spelled in text
    or other correspondence, within reason. If I know that it is I who is being referred to, that's
    all that matters to me; that is, after all, the goal of communication.
  </p>
  <p>
    Speaking of my legal name, it may or may not surprise you to find that I have a full one. You
    will find it on my résumé and the few publications I happen to have.
  </p>
  <a href="/">Go back</a>
</BaseLayout>
