:root {
  background-color: mintcream;
  font-family: "Work Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
}

b {
  font-weight: 400;
}

.centre-flex {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: center;
}

.text-half {
  font-size: 0.625rem;
}
