---
export const prerender = false;

import BaseLayout from "@layouts/BaseLayout.astro";
import { getAuthenticatedUser } from "@lib/auth";
import { getPrivatePost } from "@lib/private-posts";
import { Maybe } from "@lib/util/maybe";

const { env } = Astro.locals.runtime;

const postOrResponse = await Maybe.from(await getAuthenticatedUser(Astro.request, env))
  .toRight(new Response("Unauthorized", { status: 401 }))
  .flatMap(() => Maybe.from(Astro.params.slug).toRight(new Response("Not found", { status: 404 })))
  .flatMapAsync(async (slug) =>
    Maybe.from(await getPrivatePost(slug, env)).toRight(new Response("Not found", { status: 404 })),
  );

if (postOrResponse.isLeft()) {
  return postOrResponse.swap().unwrap();
}

const { data, html } = postOrResponse.unwrap();
---

<BaseLayout pageTitle=`Eddy Chen | ${data.title}`>
  <h1>{data.title}</h1>
  <i>{data.description} ({data.date.toLocaleDateString("en-CA")})</i>
  <Fragment set:html={html} />
  <a href="/private">More private posts</a>
  <a href="/">Go back</a>
</BaseLayout>
