---
export const prerender = false;

import BaseLayout from "@layouts/BaseLayout.astro";
import { getAuthenticatedUser } from "@lib/auth";
import { getPrivatePost } from "@lib/private-posts.ts";

const { env } = Astro.locals.runtime;

const user = await getAuthenticatedUser(Astro.request, env);
if (!user) {
  return new Response("Unauthorized", { status: 401 });
}

const { slug } = Astro.params;
if (!slug) {
  return new Response("Not found", { status: 404 });
}

const post = await getPrivatePost(slug, env);
if (!post) {
  return new Response("Not found", { status: 404 });
}

const { data, html } = post;
---

<BaseLayout pageTitle=`Eddy Chen | ${data.title}`>
  <h1>{data.title}</h1>
  <i>{data.description} ({data.date.toLocaleDateString("en-CA")})</i>
  <Fragment set:html={html} />
  <a href="/private">More private posts</a>
  <a href="/">Go back</a>
</BaseLayout>
