---
export const prerender = false;

import BaseLayout from "@layouts/BaseLayout.astro";
import { getAuthenticatedUser } from "@lib/auth";
import { listPrivatePosts } from "@lib/private-posts";
import { Maybe } from "@lib/util/maybe";

const { env } = Astro.locals.runtime;

const userOrResponse = await Maybe.from(await getAuthenticatedUser(Astro.request, env)).toRight(
  new Response("Unauthorized", { status: 401 }),
);

if (userOrResponse.isLeft()) {
  return userOrResponse.swap().unwrap();
}

const posts = await listPrivatePosts(env);
---

<BaseLayout pageTitle="Eddy Chen | Private Posts">
  <h1>Private Posts</h1>
  <ul>
    {
      posts.map(({ slug, data }) => (
        <li>
          <div>
            <a href={`/private/${slug}`}>{data.title}</a>
            <p class="text-half">
              {data.description} ({data.date.toLocaleDateString("en-CA")})
            </p>
          </div>
        </li>
      ))
    }
  </ul>
  <a href="/">Go back</a>
</BaseLayout>
