---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection, render } from "astro:content";
export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}
const { post } = Astro.props;
const { Content } = await render(post);
---

<BaseLayout pageTitle=`Eddy Chen | ${post.data.title}`>
  <h1>{post.data.title}</h1>
  <i>{post.data.description} ({post.data.date.toLocaleDateString("en-CA")})</i>
  <Content />
  <a href="/blog">More posts</a>
  <a href="/">Go back</a>
</BaseLayout>
