---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
const posts = await getCollection("blog").then((xs) =>
  xs.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf()),
);
---

<BaseLayout pageTitle="Eddy Chen | Blog Archive">
  <h1>Blog Archive</h1>
  <div class="">
    <ul>
      {
        posts.map(({ id, data }) => (
          <li>
            <div>
              <a href={`/blog/${id}`}>{data.title}</a>
              <p class="text-half">
                {data.description} ({data.date.toLocaleDateString("en-CA")})
              </p>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
  <a href="/">Go back</a>
</BaseLayout>
